.header-bar a {
    text-decoration: none;
    text-transform: uppercase;
}

.header-bar a:link {
    color: white;
}

.header-bar a:visited {
    color: white;
}

.header-bar a:hover {
    color: white;
}

.header-bar a:active {
    color: white;
}
